// @import 'function.scss';

/*Colors Variables*/
$primaryColor:#131C1B;
$secondaryColor: #F2B15A;
$secondaryColorF3CB8E: #F3CB8E;
$borderColor131C1B:#131C1B;
$fontColor131C1B:#131C1B;
$color5B5B5B:#5B5B5B;
$Black:#000000;
$White:#fff;
$light:rgba(243, 203, 142, 0.69);
$color8D8D8D:#8D8D8D;
$fontcolorrgba:rgba(19, 28, 27, 0.85);
$fontColorRbg:rgba(192, 57, 43, 0.50);
$fontColorF7E5E3:#F7E5E3;
$fontColorC0392B:#C0392B;

/*Font Size Variables*/
$font12px:.924rem;
$font14px:1.1rem;
$font16px:1.231rem;
$font18px:1.125rem;
$font24px:1.85rem;
$font42px:3.231em;

/*Font Weight Variable*/
$Thin:100;
$ExtraLight:200;
$Light:300;
$Normal:400;
$Medium:500;
$SemiBold:600;
$Bold:700; 
$ExtraBold:800;
$UltraBold:900;

/*Line Height Variables*/
$LineHeight24px:150%;
$LineHeight52px:123.571%;
$LineHeight19px:119%;
$LineHeight20px:166.667%;
$lineHeight24px:171.429%;


/*Padding Variables*/
$Padding16px: 1.2rem;
$padding14px: 1.1rem;
$padding20px: 1.6rem;
$paddingLogout:0px 10px;
$padding10px: 10px;
$padding12px: 12px;
$padding15px: 15px;
$padding20px: 20px;
$padding25px: 25px;
$padding30px: 30px;


/*Border Radius Variables*/
$borderRadius10px:.8rem;

/*transition Variables*/
$transition05s: 0.5s;

/* letter-spacing Variables*/
$LetterSpacing2px: -0.2rem;

/*Margin Variables*/
$MarginBottom6px:0.4rem;

/* Box Shadow Variables*/
$boxShadow1px10px: 0.01rem 0.01rem 0.2rem -0.01rem;
$boxshadow2px11px:2px 4px 11px 0px rgba(0, 0, 0, 0.10);


/*Width Variables*/
$width340px:26.2rem;