.dropzone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 2px dashed #D3178A;
    padding: 2rem;
    border-radius: 20px;

    h1 {
        font-family: 'Lato';
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
    }

    button {
        box-shadow: 1px 1px 3px 0px #0000000F;
        border: 1px solid #E1E6EF;
        font-family: 'Lato';
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0em;
        padding: 10px 15px;
        border-radius: 10px;
    }
   
}


.time-slot {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: #fdfdfd;
    position: relative;
  }
  
  .time-slot.available {
    background-color: #fffaf0;
  }
  
  .time-slot.cancelled {
    background-color: #ffe4e1;
  }
  
  .time-header {
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  .edit-icon {
    color: #f0ad4e;
    cursor: pointer;
  }
  
  .status {
    font-size: 0.9rem;
    color: #555;
    margin-top: 5px;
  }
  
  @media (max-width: 768px) {
    .time-slot {
      font-size: 0.9rem;
    }
  }